commands:
  01_enable_epel:
    command: "sudo amazon-linux-extras install epel -y"
  02_install_dependencies:
    # 커뮤니티에서 정리된 Chromium 실행 필수 라이브러리 목록입니다.
    command: |
      sudo yum install -y libX11 libXcomposite libXcursor libXdamage libXext libXi libXtst \
      cups-libs libXScrnSaver libXrandr alsa-lib atk at-spi2-atk gtk3 ipa-gothic-fonts \
      xorg-x11-fonts-100dpi xorg-x11-fonts-75dpi xorg-x11-utils xorg-x11-fonts-cyrillic \
      xorg-x11-fonts-Type1 xorg-x11-font-utils libgbm
  03_install_chromium:
    command: "sudo yum install -y chromium"
  04_create_symlink:
    # AL2는 /usr/bin/chromium-browser에 설치되므로, 다른 프로그램이 찾기 쉽도록 /usr/bin/chromium 링크를 생성합니다.
    command: "ln -sf /usr/bin/chromium-browser /usr/bin/chromium"