files:
  "/etc/systemd/system/moralis-listener.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Fincore Moralis Webhook Listener
      After=network.target

      [Service]
      Type=simple
      User=webapp
      Group=webapp
      ExecStart=/var/app/current/run_moralis_listener.sh
      Restart=on-failure
      RestartSec=5
      StandardOutput=append:/var/log/web.stdout.log
      StandardError=append:/var/log/web.stdout.log

      [Install]
      WantedBy=multi-user.target

  "/etc/systemd/system/watchdog.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Fincore Watchdog Process Manager
      After=network.target

      [Service]
      Type=simple
      User=webapp
      Group=webapp
      ExecStart=/var/app/current/run_watchdogs.sh
      Restart=on-failure
      RestartSec=5
      StandardOutput=append:/var/log/web.stdout.log
      StandardError=append:/var/log/web.stdout.log

      [Install]
      WantedBy=multi-user.target