files:
  "/etc/yum.repos.d/google-chrome.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [google-chrome]
      name=google-chrome
      baseurl=http://dl.google.com/linux/chrome/rpm/stable/x86_64
      enabled=1
      gpgcheck=1
      gpgkey=https://dl.google.com/linux/linux_signing_key.pub

packages:
  yum:
    google-chrome-stable: []
    liberation-mono-fonts: []
    liberation-sans-fonts: []
    liberation-serif-fonts: []