files:
  "/etc/cron.d/my_cron_job":
    mode: "000644"
    owner: root
    group: root
    content: |
      # 중요: 크론은 환경변수를 모르므로 강제로 로드해야 함 (. /opt/elasticbeanstalk/deployment/env)
      # 로그를 web.stdout.log로 보내서 'eb logs' 명령어로 확인할 수 있게 변경
      05 8 * * * root set -a; . /opt/elasticbeanstalk/deployment/env; set +a; cd /var/app/current && /var/app/venv/*/bin/python -m iceage.src.pipelines.daily_runner >> /var/log/web.stdout.log 2>&1

      # (이 줄은 반드시 비워둬야 함 - 크론 문법 필수)

commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/my_cron_job.bak"


