files:
  "/etc/supervisor/conf.d/moneybag_listener.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [program:moneybag_listener]
      command=/var/app/venv/staging/bin/gunicorn --workers 1 --bind 0.0.0.0:5001 "moneybag.src.webhooks.moralis_listener:app"
      directory=/var/app/current
      autostart=true
      autorestart=true
      stdout_logfile=/var/log/moneybag_listener.log
      stderr_logfile=/var/log/moneybag_listener_err.log
      user=webapp
      environment=PYTHONPATH="/var/app/current"

commands:
  01_reload_supervisor:
    command: "supervisorctl reread"
    ignoreErrors: true
  02_update_supervisor:
    command: "supervisorctl update"
    ignoreErrors: true